.g-page {
  position: relative;

  .react-coat-asyncComponent-loading {
    padding: 20px;
  }

  .g-breadcrumb {
    margin-top: 3px;
    margin-bottom: 10px;
    background: #fff;
    padding: 16px 32px;
    border-bottom: 1px solid #e8e8e8;

    h2 {
      margin: 10px 0;
      font-size: 20px;
    }
  }

  .g-content {
    padding: 15px;
  }

  .ant-form-explain {
    font-size: 12px;
    line-height: 20px;
  }

  .ant-form-item-control {
    button {
      margin-right: 10px;
    }
  }
}
